body {
  height: 100vh;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.background-normal-dia {
  background-image: url('https://cdn.discordapp.com/attachments/1274874630917587005/1277129816491036714/normal-dia.gif?ex=66cc0b54&is=66cab9d4&hm=9312438b8c98a1a826515e7ddf038897c9ea736e34a7cf77aa96335c7bab1c30&');
}

.background-normal-noite {
  background-image: url('https://cdn.discordapp.com/attachments/1274874630917587005/1277129817044549663/normal-noite.gif?ex=66cc0b54&is=66cab9d4&hm=08753cbf4c85729453d57e19bd269b73d9bdf822982569955cb2334342215f65&');
}

.background-chuva-dia {
  background-image: url('https://cdn.discordapp.com/attachments/1274874630917587005/1277129690171310163/chuva-dia.gif?ex=66cc0b36&is=66cab9b6&hm=681832acc024e22d2a06529e7a184e4fd6a997714d0822eefd718a627daec155&');
}

.background-chuva-noite {
  background-image: url('https://cdn.discordapp.com/attachments/1274874630917587005/1277129006541701165/chuva-noite.gif?ex=66cc0a93&is=66cab913&hm=6b0405c3269a68b85d147fc5b2f40054a13360590a968d530cb533f23daa9778&');
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 15rem;
}